
@font-face {
    font-family: 'title';
    font-style: normal;
    font-weight: 2000px;
    src: url("../fonts/TransitDisplay.ttf") format('truetype');
  } 

  @font-face {
    font-family: 'font2';
    font-style: normal;
    font-weight: 2000px;
    src: url("../fonts/built\ titling\ sb.ttf") format('truetype');
  } 

  @font-face {
    font-family: 'acid';
    font-style: normal;
    /* src: url("../fonts/accid__1.ttf") format('truetype'); */
    src: url("../fonts/Alte\ Haas\ Grotesk.ttf") format('truetype');

  }

/* ============================================================================= */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

:root{
    box-sizing: border-box !important;

}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    padding: 0;
}


/* VISTA PC */
/* Cuando la pantalla es mayor a "X" ejecuta el programa */
@media only screen and (min-width: 0px) {/* 910px */
    /* ============================================================================== */
    /* =================================== HEADER =================================== */
    /* ============================================================================== */

        /* ~~~~~~~~~~~~~~~~~~~~~~ Navigation Bar Desplegable ~~~~~~~~~~~~~~~~~~~~~~ */
            .navBarContainer{
                width: 100%;
                right: 0;
                position: fixed;
                top: 0;
                z-index: 100;
            }

            /* Lista PADRE con items de navBar */
                .navBarListOPEN{
                    padding-top: 0.8vw;
                    padding-bottom: 0.8vw;
                    
                    margin-right: 4.2vw;
                    padding-right: 3.5vw;
                    padding-left: 6.3vw;

                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    overflow: hidden;
                    white-space: pre; 

                    position: fixed;
                    right: 1vw;
                    top: 1.6vw;
                    z-index: 90;

                    backdrop-filter: blur(5px) brightness(40%);
                    box-shadow: -20px 0px 15px 15px rgba(0, 0, 0, 0.658);
                    border-radius: 100em;


                    animation-duration: 300ms;
                    animation-name: navBarListOPEN;
                    animation-iteration-count: 1;
                    animation-fill-mode: both;
                }
        
                    @keyframes navBarListOPEN {
                        from{width: 0%;}
                        to{width: 100%;}
                    }

                .navBarListCLOSE{
                    padding-top: 0.8vw;
                    padding-bottom: 0.8vw;
                    
                    margin-right: 4.2vw;
                    padding-right: 3.5vw;
                    padding-left: 6.3vw;

                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    overflow: hidden;
                    white-space: pre; 

                    position: fixed;
                    right: 1vw;
                    top: 1.6vw;
                    z-index: 90;

                    animation-duration: 300ms;
                    animation-name: navBarListCLOSE;
                    animation-iteration-count: 1;
                    animation-fill-mode: both;
                    animation-direction: alternate-reverse;
                }
        
                    @keyframes navBarListCLOSE {
                        from{width: 0%; right: 0.5vw; margin-right: 2vw; opacity: 0%;}
                        to{width: 100%; right: 1vw; margin-right: 4vw; opacity: 100%;}
                    }

                /* Items de lista de navBar */
                    .navBarListItem{
                        z-index: 99;
                        display: flex;
                    }

                    .navBarListItem a{
                        color: rgb(231, 231, 231);
                        font-size: 4vw;
                        font-family: 'font2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        user-select: none;
                        text-shadow: 0px 0px 1.2vw rgb(0, 0, 0);

                        animation-duration: 10s;
                        animation-name: shadowColourChange ;
                        animation-iteration-count: infinite;
                        animation-fill-mode: both;
                        animation-direction: alternate-reverse;
                    }
            
                        @keyframes shadowColourChange {
                            0%  {text-shadow: 0px 0px 0.5vw rgb(255, 0, 0);}
                            10% {text-shadow: 0px 0px 0.5vw rgb(255, 94, 0);}
                            20% {text-shadow: 0px 0px 0.5vw rgb(255, 136, 0);}
                            30% {text-shadow: 0px 0px 0.5vw rgb(255, 208, 0);}
                            40% {text-shadow: 0px 0px 0.5vw rgb(208, 255, 0);}
                            50% {text-shadow: 0px 0px 0.5vw rgb(94, 255, 0);}
                            60% {text-shadow: 0px 0px 0.5vw rgb(0, 255, 128);}
                            70% {text-shadow: 0px 0px 0.5vw rgb(0, 255, 234);}
                            80% {text-shadow: 0px 0px 0.5vw rgb(0, 195, 255);}
                            90% {text-shadow: 0px 0px 0.5vw rgb(0, 89, 255);}
                            100%{text-shadow: 0px 0px 0.5vw rgb(68, 0, 255);}
    
                        }

                    .navBarListItem a:hover{
                        color: rgb(255, 255, 255);
                        font-size: 4.2vw;
                        font-family: 'title', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        text-decoration: underline;
                        transition:ease-in-out 100ms;
                        transform: scale(1.1,1.1) rotate(-1deg); 
                    }

            /* ~~~~~~~~~~~~~~~~~~~~~~ Botón toggle navBar ~~~~~~~~~~~~~~~~~~~~~~ */

                /* Item de lista con BOTON TOGGLE <DARK - CLOSE> navBar */
                    #buttonToggleNavBar{
                        width: 6vw;/* 70px */
                        height: 6vw;/* 70px */

                        outline: none !important;
                        border-width: 0;
                        border-radius: 100%;

                        z-index: 100;
                
                        position: fixed;
                        right: 2vw;
                        top: 1.8vw;

                        background-size: 6.3vw 6.3vw;
                        background-position: center center;

                        box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.548);
                    }

                    #buttonToggleNavBar:hover{
                        filter: contrast(110%) brightness(105%);
                    }

                    /* Tema OSCURO */
                        .buttonDarkNavBarToggleCLOSE{
                            animation-duration: 200ms;
                            animation-name: buttonToggleDarkCLOSE;
                            animation-iteration-count: 1;
                            animation-fill-mode: both;
                            animation-direction: alternate-reverse;
                        }
                        
                            @keyframes buttonToggleDarkCLOSE {
                                from{
                                    background-image: url(../img/dk/menuNavDarkClose.png);
                                    transform: rotate(0deg);
                                }
                                to{
                                    background-image: url(../img/dk/menuNavDarkOpen.png);
                                    transform: rotate(90deg);
                                }
                            }

                        .buttonDarkNavBarToggleOPEN{                    
                            animation-duration: 200ms;
                            animation-name: buttonToggleDarkOPEN;
                            animation-iteration-count: 1;
                            animation-fill-mode: both;
                            animation-direction: alternate; 
                        }
                
                            @keyframes buttonToggleDarkOPEN {
                                from{
                                    background-image: url(../img/dk/menuNavDarkClose.png);
                                    transform: rotate(0deg);
                                }
                                to{
                                    background-image: url(../img/dk/menuNavDarkOpen.png);
                                    transform: rotate(90deg);
                                }
                            }

                    /* Tema CLARO */
                        .buttonLightNavBarToggleCLOSE{
                            animation-duration: 200ms;
                            animation-name: buttonToggleLightCLOSE;
                            animation-iteration-count: 1;
                            animation-fill-mode: both;
                            animation-direction: alternate-reverse;
                        }
                
                            @keyframes buttonToggleLightCLOSE {
                                from{
                                    background-image: url(../img/lgt/menuNavLightClose.png);
                                    transform: rotate(0deg);
                                }
                                to{
                                    background-image: url(../img/lgt/menuNavLightOpen.png);
                                    transform: rotate(90deg);
                                }
                            }

                        .buttonLightNavBarToggleOPEN{                    
                            animation-duration: 200ms;
                            animation-name: buttonToggleLightOPEN;
                            animation-iteration-count: 1;
                            animation-fill-mode: both;
                            animation-direction: alternate; 
                        }
                
                            @keyframes buttonToggleLightOPEN {
                                from{
                                    background-image: url(../img/lgt/menuNavLightClose.png);
                                    transform: rotate(0deg);
                                }
                                to{
                                    background-image: url(../img/lgt/menuNavLightOpen.png);
                                    transform: rotate(90deg);
                                }
                            }

        /* ~~~~~~~~~~~~~~~~~~~~~~ Navigation Bar Desplegable (OPCIONES) ~~~~~~~~~~~~~~~~~~~~~~ */

            /* Lista PADRE con los elementos de ls opciones desplegables */
                #navBarOptions{
                    width: 0px;
                    padding: 0;
                    position: absolute;
                    right: 0.8vw;
                    justify-content: center;
                    top: 1.8vw;
                    padding-top: 3vw;
                    overflow: visible;
                }

                .navBarOptionsOPEN{
                    height: 0px;
                    width: 0px;
                }

                /* Animacion boton cambiar LENGUAJE */
                    .languageButtonAnimOPEN{
                        animation-duration: 300ms;
                        animation-name: animLanguageButtonOPEN;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                        animation-direction: alternate;                        
                    }

                        @keyframes animLanguageButtonOPEN {
                            0%{top: 1vw;}
                            100%{top: 7vw;}
                        } 

                    .languageButtonAnimCLOSE{
                        animation-duration: 300ms;
                        animation-name: animLanguageButtonCLOSE;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                        animation-direction: alternate-reverse;                        
                    }

                        @keyframes animLanguageButtonCLOSE {
                            0%{top: 1vw;}
                            100%{top: 7vw;}
                        } 

                /* Animacion boton cambiar TEMA */
                    .themeButtonAnimOPEN{
                        animation-duration: 600ms;
                        animation-name: animThemeButtonOPEN;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                        animation-direction: alternate; 
                    }

                        @keyframes animThemeButtonOPEN {
                            0%{top: 1vw; opacity: 0%;}
                            100%{top: 12.5vw; opacity: 100%;}
                        }

                    .themeButtonAnimCLOSE{
                        animation-duration: 800ms;
                        animation-name: animThemeButtonCLOSE;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                        animation-direction: alternate-reverse; 
                    }

                        @keyframes animThemeButtonCLOSE {
                            0%{top: 1vw; opacity: 0%;}
                            100%{top: 12.5vw; opacity: 100%;}
                        }

                /* Hovers a botones anteriores */
                    #languageButton:hover{
                        filter: contrast(180%) brightness(105%);
                    }        

                    #themeButton:hover{
                        filter: contrast(180%) brightness(105%);
                    }  

    /* ============================================================================== */
    /* ===================================== MAIN =================================== */
    /* ============================================================================== */
        
        /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */                    
        /* ~~~~~~~~~~~ Tarjeta de presentacion ~~~~~~~~~~~ */  
        /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */  

            /* Contenedor de tarjeta de presentacion */
                .presentationInfoCardOPEN{
                    position: absolute;
                    top: 180px;
                    display: flex;
                    background-color: rgb(255, 0, 76);
    /*                 background-color: rgb(73, 38, 197);
                    background-color: rgb(105, 0, 190); */

                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    
                    height: 310px;
                    width: 600px;

                    overflow: hidden;

                    z-index: 1;
                    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.705);

                    animation-duration: 200ms;
                    animation-name: presentationInfoCardOPEN;
                    animation-iteration-count: 1;
                    animation-fill-mode: both;
                    animation-direction: alternate;
                }
        
                    @keyframes presentationInfoCardOPEN {
                        from{left: -580px;}
                        to{left: 0px;}
                    }

                .presentationInfoCardOPEN:hover{
                    position: absolute;
                    top: 180px;
                    display: flex;
                    background-color: rgb(110, 0, 184); 
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    height: 310px;
                    width: 600px;
                    z-index: 1;
                    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.705);
                }

                .presentationInfoCardCLOSE{
                    position: absolute;
                    top: 180px;
                    display: flex;
                    background-color: rgb(255, 0, 76);
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    height: 310px;
                    width: 600px;

                    overflow: hidden;

                    z-index: 1;
                    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.705);

                    animation-duration: 200ms;
                    animation-name: presentationInfoCardCLOSE;
                    animation-iteration-count: 1;
                    animation-fill-mode: both;
                    animation-direction: alternate-reverse;
                }
        
                    @keyframes presentationInfoCardCLOSE {
                        from{left: -580px;}
                        to{left: 0px;}
                    }

                /* Imagen de tarjeta de presentacion */
                    .imagePresentationCard{
                        height: 250px;
                        border-radius: 10px;
                        position: relative;
                        margin: auto;
                        margin-left: 0;
                        box-shadow: 0px 0px 10px rgb(0, 0, 0);
                        user-select: none;
                        z-index: 7;

                    }

                /* Lista PADRE con los items de la tarjeta de presentacion */
                    .listContainerPresentationCard{
                        list-style: none;
                        position: relative;
                        left: -15px;
                        margin: 0;
                        overflow: hidden;
                        
                    }    

                    /* Items de la lista de la tarjeta de presentacion */
                        /*.listItemPresentationCard{

                        } */

                        /* Hijos */
                            .listItemPresentationCard h1{
                                font-family: 'title';
                                font-size: 50pt;
                                display: flex;
                                justify-content: center;
                                margin: 0;
                                color: rgb(241, 241, 241);
                                text-shadow: 0px 0px 10px rgb(184, 156, 0);
                                user-select: none;
                                white-space: pre;
                                z-index: 5;
                            }

                            .listItemPresentationCard p{
                                padding-right: 10px;
                                margin-bottom: 55px;
                                color: rgb(22, 22, 22);
                                color: rgb(216, 216, 216);
                                user-select: none;
                                font-weight: 600;
                                overflow: hidden;
                                display: flex;

                                animation-duration: 2000ms;
                                animation-name: listItemPresentationCard;
                                animation-iteration-count: 1;
                                animation-fill-mode: both;
                                animation-direction: alternate;
                            }
                    
                                @keyframes listItemPresentationCard {
                                    from{font-size: 0pt;}
                                    to{font-size: 10pt;}
                                }
                        
                            .listItemPresentationCard button{
                                border-radius: 5px;
                                border-width: 0;
                                box-shadow: 0px 0px 10px rgb(0, 0, 0);
                                font-size: 15pt;
                                position: absolute;
                                bottom: 10px;
                                display: flex;
                                justify-content: center;
                                background-color: rgb(22, 22, 22);
                                color: rgb(245, 245, 245);
                                outline: none !important;
                                padding: 3px 10px 4px;
                                white-space: pre;
                                z-index: 8;
                            }

                            .listItemPresentationCard button:hover{
                                
                                background-color: rgb(39, 39, 39);
                                color: rgb(245, 245, 245);
                                
                            }

                        /* Boton solapa para abrir y cerrar presentacion */
                            .buttonExternPresentationCard{
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;
                                border-width: 0px;
                                outline: none !important;
                                background-color: rgb(31, 31, 31);
                                color: aliceblue;
                                font-size: 20pt;
                                box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.705);
                                position: relative;
                                z-index: 100;
                                height: 310px;
                            }    

                            .buttonExternPresentationCard:hover{
                                background-color: rgb(43, 43, 43);
                                color: aliceblue;
                            }    

        /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */                    
        /* ~~~~~~~~~ Contenedores de habilidades ~~~~~~~~~ */  
        /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */                    

            /* Contenedor SECCION de habilidades */                    
                .skillGrlContainer{
                    box-sizing: border-box !important;
                    position: relative;
                    width: 100%;
                    top: 1020px;
                    z-index: 5;
                }    

                /* Contenedor del titulo de la seccion */
                    .skillTitleSectionContainerOPEN{
                        width: 50%;
                        height: 100px;

                        position: absolute;
                        top: -150px;/* -120 */

                        box-shadow: 0px 0px 15px 10px rgb(0, 0, 0);
                        border-bottom: 100px solid rgba(36, 36, 36, 0.637);
                        border-left: 5vw dashed rgb(68, 0, 255);

                        animation-delay: 100ms;
                        animation-duration: 1s;
                        animation-name: openTittleSkill;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                        animation-direction: alternate;
                    }
                        @keyframes openTittleSkill {
                            from{right: -100%;}
                            to{right: 0;}
                        }

                    .skillTitleSectionContainer{
                        width: 50%;
                        height: 100px;

                        position: absolute;
                        top: -150px;/* -120 */
                        right: 0;

                        box-shadow: 0px 0px 15px 10px rgb(0, 0, 0);
                        border-bottom: 100px solid rgba(36, 36, 36, 0.637);
                        
                        animation-duration: 15s;
                        animation-name: colourChange;
                        animation-iteration-count: infinite;
                        animation-fill-mode: both;
                        animation-direction: alternate-reverse;
                    }
            
                        @keyframes colourChange {
                            0%{border-left: 5vw dashed rgb(255, 0, 0);}
                            10%{border-left: 5vw dashed rgb(255, 94, 0);}
                            20%{border-left: 5vw dashed rgb(255, 136, 0);}
                            30%{border-left: 5vw dashed rgb(255, 208, 0);}
                            40%{border-left: 5vw dashed rgb(208, 255, 0);}
                            50%{border-left: 5vw dashed rgb(94, 255, 0);}
                            60%{border-left: 5vw dashed rgb(0, 255, 128);}
                            70%{border-left: 5vw dashed rgb(0, 255, 234);}
                            80%{border-left: 5vw dashed rgb(0, 195, 255);}
                            90%{border-left: 5vw dashed rgb(0, 89, 255);}
                            100%{border-left: 5vw dashed rgb(68, 0, 255);}
                        }

                    /* Título de la seccion */
                        .skillTitleSection{
                            margin-top: 1%;
                            margin-left: 1.5vw;
                            display: flex;
                            color: aliceblue;
                            position: absolute;
                            user-select: none;
                            font-size: 5.7vw;
                            font-family: 'font2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            text-shadow: 0px 0px 0.1vw rgb(0, 0, 0);                  
                            
                        }

                /* Contenedor de los cuadros de las habilidades */
                    .skillsContainer{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding-top: 21px;
                        margin-bottom: 40px;
                    }

                    /* Contenedor de cada habilidad */
                        .skillSpecificContainer{
                            overflow: hidden;
                            position: relative;
                            margin: 0;
                            height: 350px;
                            width: 350px;
                            border-radius: 20px;
                            border-width: 1px;
                            border-left-style: dashed;
                            border-right-style: dashed;
                            border-color: rgba(255, 230, 0, 0.096);
                            background-color: rgb(43, 43, 43);
                            
                            animation-duration: 200ms;
                            animation-name: skillSpecificContainerCLOSE;
                            animation-iteration-count: 1;
                            animation-fill-mode: both;
                            animation-direction: alternate-reverse;
                        }
                
                            @keyframes skillSpecificContainerCLOSE {
                                from{width: 300px;box-shadow: 0px 0px 30px 10px rgb(0, 0, 0);}
                                to{width: 400px;box-shadow: 0px 0px 30px 20px  rgb(0, 0, 0);}
                            }

                        .skillSpecificContainer:hover{
                            animation-duration: 200ms;
                            animation-name: skillSpecificContainerOPEN;
                            animation-iteration-count: 1;
                            animation-fill-mode: both;
                            animation-direction: alternate; 
                        }
                
                            @keyframes skillSpecificContainerOPEN {
                                from{width: 300px;box-shadow: 0px 0px 10px  rgb(0, 0, 0);}
                                to{width: 400px;box-shadow: 0px 0px 50px 20px  rgb(0, 0, 0);z-index: 10;}
                            } 

                    /* Lista PADRE contenedora de info de skill */
                        .skillInfoContainer{
                            justify-content: center;
                            align-items: center;
                            display: grid;
                            grid-template-columns: repeat(1, 5fr);
                            grid-auto-rows: auto;                    
                            margin: 0;
                            padding: 0;
                            z-index: 5 !important;
                            list-style: none;
                        }
                    
                        /* Item de la lista Contenedor de la imagen de skill */
                            .skillImageContainer{
                                z-index: 2;
                                position: absolute;
                                top: 0;
                                margin: auto;
                                backdrop-filter: blur(5px) brightness(60%);
                                border-radius: 20px;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                animation-delay: 100ms;
                                animation-duration: 500ms;
                                animation-name: skillImgCLOSE;
                                animation-iteration-count: 1;
                                animation-fill-mode: both;
                                animation-direction: alternate-reverse;
                            }

                                @keyframes skillImgCLOSE {
                                    0%{width: 100%; height: 100%;backdrop-filter: blur(5px) brightness(60%);padding-bottom: 0%;}
                                    100%{width: 100%; height: 100%;backdrop-filter: blur(1px) brightness(100%); padding-bottom: 60%;}
                                }

                            .skillImageContainer:hover{
                                animation-delay: 100ms;
                                animation-duration: 500ms;
                                animation-name: skillImgOPEN;
                                animation-iteration-count: 1;
                                animation-fill-mode: both;
                                animation-direction: alternate;
                            }
                    
                                @keyframes skillImgOPEN {
                                    0%{width: 100%; height: 100%;backdrop-filter: blur(5px) brightness(60%);padding-bottom: 0%;}
                                    15%{width: 100%; height: 105%;backdrop-filter: blur(3px) brightness(60%);padding-bottom: 0%;}
                                    80%{width: 100%; height: 100%;backdrop-filter: blur(1px) brightness(100%); padding-bottom: 80%;}
                                    100%{width: 100%; height: 100%;backdrop-filter: blur(0px) brightness(100%); padding-bottom: 80%; padding-top: 10px;}
                                }
                        
                            /* IMAGEN de la habilidad */
                                .skillImage{
                                    position: relative;
                                    top: 0px;
                                    margin-top: 20px;
                                    display: flex;
                                    height: 35%;/* 45% */
                                    min-height: 100px;
                                    margin: auto auto;
                                    justify-content: center;
                                }

                        /* Item de la lista LINEA divisoria de la habilidad */
                            .skillDivisoryLine{
                                display: none;
                                border-color: aliceblue;
                                border-width: 2px;
                                position: absolute;
                                top: 0;
                                animation-duration: 2000ms;
                                animation-name: listItemPresentationCard;
                                animation-iteration-count: 1;
                                animation-fill-mode: both;
                                animation-direction: alternate;
                            }
                    
                                @keyframes listItemPresentationCard {
                                    from{width: 0%; }
                                    to{width: 80%;}
                                }

                        /* Item de la lista CONTENEDOR de texto de la habilidad */        
                            .skillTextContainer{
                                height: 180px;
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                margin-bottom: 85px;
                                padding-bottom: 110px;
                                justify-content: center;
                                text-align: left;
                                list-style: none;

                            }

                            /* Item de la lista con TEXTO de la habilidad */
                                .skillText{
                                    position: relative;
                                    padding: 10px;
                                    margin-top: 20px;
                                    margin-left: 15px;
                                    color: rgb(231, 231, 231);
                                    font-size: 1.3vw;
                                    font-weight: 500;
                                    font-family: calibri ,'acid', 'font2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                    user-select: none;
                                    text-shadow: 0px 0px 20px rgb(0, 0, 0);  
                                }    

                        /* TITULO de la habilidad */    
                            .skillTitle{
                                width: 100%;

                                color: rgb(231, 231, 231);
                                background-color: rgb(34, 34, 34);
                                margin: auto auto;
                                padding-top: 4px;

                                margin-top: 23px;
                                
                                position: absolute;
                                bottom: 0;
                                justify-content: center;
                                text-align: center;

                                font-size: 5vw;
                                font-family: 'font2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                text-shadow: 0px 0px 20px rgb(0, 0, 0);                    

                                user-select: none;
                                border-bottom-left-radius: 20px;
                                border-bottom-right-radius: 20px;
                            }

        /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */                    
        /* ~~~~~~~~~~~~~~~~~ EXPERIENCIA ~~~~~~~~~~~~~~~~~ */  
        /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */  
        
            /* Contenedor de la seccion de experiencia */
                .experienceSectionContainer{
                    box-sizing: border-box !important;
                    position: relative;
                    width: 100%;
                    top: 1200px;
                    z-index: 0;
                }

                /* Contenedor del titulo de la seccion de experiencia */
                    /* .experienceTittleContainerOPEN{
                        width: 50%;
                        height: 100px;

                        position: absolute;
                        top: -150px;

                        box-shadow: 15px 15px 15px rgb(0, 0, 0);
                        border-bottom: 100px solid rgba(36, 36, 36, 0.637);
                        border-left: 5vw dashed rgb(68, 0, 255);

                        animation-delay: 100ms;
                        animation-duration: 1s;
                        animation-name: openTittleSkill;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                        animation-direction: alternate;
                    }
                        @keyframes openTittleSkill {
                            from{right: -100%;}
                            to{right: 0;}
                        } */

                    .experienceTittleContainer{
                        width: 50%;
                        height: 4vw;
                        
                        position: absolute;
                        top: -6.5vw;/* -120 */
                        left: 0;

                        box-shadow: 0px 0px 1vw 0.8vw rgb(0, 0, 0);
                        border-bottom: 7.5vw solid rgba(36, 36, 36, 0.637);
                        
                        animation-duration: 18s;
                        animation-name: colourChangeExperience;
                        animation-iteration-count: infinite;
                        animation-fill-mode: both;
                        animation-direction: alternate-reverse;
                    }
                        
                        @keyframes colourChangeExperience {
                            0%{border-right: 5vw dashed rgb(255, 0, 0);}
                            10%{border-right: 5vw dashed rgb(255, 94, 0);}
                            20%{border-right: 5vw dashed rgb(255, 136, 0);}
                            30%{border-right: 5vw dashed rgb(255, 208, 0);}
                            40%{border-right: 5vw dashed rgb(208, 255, 0);}
                            50%{border-right: 5vw dashed rgb(94, 255, 0);}
                            60%{border-right: 5vw dashed rgb(0, 255, 128);}
                            70%{border-right: 5vw dashed rgb(0, 255, 234);}
                            80%{border-right: 5vw dashed rgb(0, 195, 255);}
                            90%{border-right: 5vw dashed rgb(0, 89, 255);}
                            100%{border-right: 5vw dashed rgb(68, 0, 255);}
                        }

                    /* Texto del titulo de la seccion de experiencia */
                        .experienceTittleText{
                            margin-top: 1%;
                            margin-right: 1.5vw;
                            display: flex;
                            color: aliceblue;
                            position: absolute;
                            user-select: none;
                            font-size: 5.7vw;
                            font-family: 'font2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            text-shadow: 0px 0px 0.1vw rgb(0, 0, 0); 
                            right: 0;

                        }

            /* =========================== Contenedor GRID con LOGOS ============================ */

                /* Contenedor Article con los logos de la experiencia */
                    .experienceGridLogoContainer{
                        width: 100%;
                        height: auto;
                        padding: 1vw;
                        position: relative;
                        top: 7vw;
                        display: grid;
                        grid-template-columns: auto auto auto auto auto;
                        grid-area: auto;
                        grid-template-areas: auto;
                        grid-auto-columns: 13vw;
                        grid-template-columns: repeat(5, 1fr);
                        grid-gap: 2vw;
                        grid-auto-flow: dense;
                        align-items: center;
                    }

                    /* Button con los Logos */
                        .experienceGridLogo{
                            z-index: 1;
                            height: 13vw;
                            width: 13vw;
                            outline: none !important;
                            background-color: rgba(0, 0, 0, 0);
                            background-position: center center;
                            background-size: 7vw 7vw;
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-size: contain;
                            overflow: visible;
                            border: none;
                            transition: ease-in-out 250ms;
                            transform: scale(1, 1);
                            filter: drop-shadow(0 0px 0.5vw rgb(74, 0, 245));
                            
                        }

                        .experienceGridLogo:hover{
                            z-index: 2;
                            transition: ease-in-out 250ms;
                            transform: scale(1.2, 1.2);
                            padding-bottom: 0.1vw;
                            filter: drop-shadow(0 0px 1.0vw rgb(245, 0, 94));
                        }

            /* ================ Contenedor DETALLADO de Experiencia con PREVIEWS ================ */

                /* Lista PADRE contenedora gnrl de todas las experiencias */        
                    .experienceListContainer{
                        list-style: none;
                        padding: 5.3vw 1vw 1vw 1vw;
                        padding: 6vw 1vw 6vw 1vw;
                        width: 100%;
                        margin-top: 5vw;
                    }    

                    /* ITEM de lista contenedor de CADA UNA de las experiencias */
                        .experienceItemContainer{
                            border-radius: 1.5vw;
                            margin-bottom: 4vw;
                            display: flex;
                            padding: 1vw;
                            background-color: rgba(22, 22, 22, 0.719);
                            height: 33.7vw;/* 450px */
                        }

                        /* Logo de la experiencia */
                            .experienceLogo{
                                height: 10vw;/* 150px experienceItemContainer*/
                                width: 10vw;/* 150px */
                                margin: auto auto;
                                margin-right: 2vw;/* 25px */
                                margin-left: 1vw;/* 15px */
                                border-radius: 100%;
                                filter: drop-shadow(0 0px 1.5vw  rgb(0, 0, 0));

                            }

                        /* Texto de "Previsualizacion:" */
                            .experienceText{
                                margin: 0;
                                margin-top: 0.4vw;
                                margin-bottom: 1vw;
                                margin-left: 1.5vw;
                                display: flex;
                                padding: 0;
                                right: 0;
                                color: aliceblue;
                                user-select: none;
                                font-size: 1.6vw;
                                font-family: 'acid', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                text-shadow: 0px 0px 1vw rgb(0, 0, 0);
                            }   
                            
                        /* DIV Contenedor del previer, sus botones y el de visitar pag */
                            .experienceDivContainer{
                                border-left-style: dashed;
                                border-left-width: 0.1vw;
                                border-left-color: rgba(76, 0, 255, 0.39); /* rgba(255, 239, 147, 0.158); */
                            }    

                            /* Lista PADRE contenedora del preview de la experiencia (botones NEXT/PREV y fotos) */
                                .experiencePreviewListContainer{
                                    list-style: none;
                                    display: flex;
                                    padding: 0;
                                    margin: 0;
                                    width: 56.2vw;
                                }

                                /* ITEM de lista contenedor de botones NEXT/PREV y fotos */
                                    .experiencePreviewItemContainer{
                                        padding: 0;
                                        margin: 0;
                                    }

                                    /* Boton PREVIOUS del preview de la experiencia */
                                        .experiencePreviewPREVIOUS{
                                            background-color: rgb(76, 0, 255);
                                            outline: none !important;
                                            color: aliceblue;
                                            border-top-right-radius: 0.5vw;
                                            border-bottom-right-radius: 0.5vw;
                                            border-width: 0;
                                            box-shadow: 0px 0px 0.8vw black;
                                            text-shadow: 0px 0px 0.5vw rgb(0, 0, 0);
                                            font-size: 2.2vw;
                                            position: relative;
                                            top: 40%;
                                            right: 0;
                                            padding-top: 1vw;
                                            padding-bottom: 1.7vw;
                                            padding-left: 0.5vw;
                                            padding-right: 0.5vw;
                                            z-index: 5;
                                        }
                                    
                                        .experiencePreviewPREVIOUS:hover{
                                            filter: contrast(180%) saturate(120%);
                                        }

                                    /* Imagenes del preview de la experiencia */
                                        .experiencePreviewImages{
                                            padding: 0.5vw;
                                            margin: 0;
                                            position: relative;
                                            z-index: 1 !important;
                                            width: 52vw;/* 700px // 52vw */
                                            height: 27.9vw; /* 370px //  */
                                        } 

                                    /* Boton NEXT del preview de la experiencia */
                                        .experiencePreviewNEXT{
                                            background-color: rgb(76, 0, 255);
                                            outline: none !important;
                                            color: aliceblue;
                                            border-top-left-radius: 0.5vw;
                                            border-bottom-left-radius: 0.5vw;
                                            border-width: 0;
                                            box-shadow: 0px 0px 1vw black;
                                            text-shadow: 0px 0px 0.5vw rgb(0, 0, 0);
                                            font-size: 2.2vw;
                                            padding-top: 1vw;
                                            padding-bottom: 1.7vw;
                                            padding-left: 0.5vw;
                                            padding-right: 0.5vw;
                                            position: relative;
                                            top: 40%;
                                            left: 0;
                                            z-index: 5;
                                        }
                        
                                        .experiencePreviewNEXT:hover{
                                            filter: contrast(180%) saturate(120%);
                                        }

                        /* SPAN Contenedor de los items del visualizador */
                            .experiencePreviewSlider{
                                display: flex;
                                position: relative;        
                                z-index: 12;
                                top: -1.8vw;
                                justify-content: space-evenly;
                                margin: auto auto;
                                padding-left: 19vw;
                                padding-right: 19vw;
                            }

                            /* Slider visualizador Actual*/
                                .experiencePreviewSliderON{
                                    font-size: 3.8vw;
                                    position: relative;
                                    display: flex;
                                    bottom: 0;
                                    user-select: none;
                                    padding: 0;
                                    animation-name: fadeInVisualizer;
                                    animation-duration: 0.5s;
                                    animation-iteration-count: 1;
                                    animation-fill-mode: forwards;
                                    text-shadow: 0px 0px 0.5vw rgb(98, 0, 255);
                                }

                                    @keyframes fadeInVisualizer {
                                        from {color: rgb(51, 51, 51);}
                                        to {color: rgb(76, 0, 255);}
                                    }

                            /* Slider visualizador oculto*/
                                .experiencePreviewSliderOFF{
                                    font-size: 3.8vw;
                                    position: relative;
                                    display: flex;
                                    bottom: 0;
                                    user-select: none;
                                    justify-content: center;
                                    padding: 0;
                                    animation-name: fadeOutVisualizer;
                                    animation-duration: 0.5s;
                                    animation-iteration-count: 1;
                                    animation-fill-mode: forwards;
                                    animation-direction: normal;
                                    text-shadow: 0px 0px 0.8vw rgb(0, 0, 0);

                                }

                                    @keyframes fadeOutVisualizer {
                                        from {color: rgb(255, 236, 202);}
                                        to {color: rgb(51, 51, 51);}
                                    }

                            /* Slider visualizador Killer */
                                .experiencePreviewSliderDEAD{
                                    font-size: 3.8vw;
                                    position: relative;
                                    display: flex;
                                    bottom: 0;
                                    user-select: none;
                                    justify-content: center;
                                    padding: 0;
                                    text-shadow: 0px 0px 0.8vw rgb(0, 0, 0);
                                    color: rgb(83, 83, 83);
                                }    
                    
                    /* Contenedor del Texto de descripcion de la experiencia */        
                        .experienceDescriptionContainer{
                            width: 100%;
                            border-left-style: dashed;
                            border-left-width: 0.1vw;
                            border-left-color: rgba(76, 0, 255, 0.342);
                            padding: 0.3vw;
                            z-index: 5; 
                            position: relative;
                            
                        }

                        /* Texto de la descripcion */
                            .experienceDescriptionText{
                                position: relative;
                                margin-left: 1vw;
                                margin-right: 0.5vw;
                                display: flex;
                                right: 0;
                                color: aliceblue;
                                user-select: none;
                                font-weight: 800;
                                font-size: 1.5vw;
                                font-family: 'acid', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                text-shadow: 0px 0px 1vw rgb(0, 0, 0);
                                overflow: auto;

                            }  

                            /* Contenedor FORM del boton de "vicitar pagina" */
                                .experienceViciteButtonContainer{
                                    /* position: relative;
                                    background-color: red;
                                    height: 32.2vw;
                                    top: -250px;
                                    display: flex;
                                    justify-content: center; */
                                }

                                /* Botón de "Visitar Pagina" */      
                                    .experienceViciteButton{
                                        position: absolute;
                                        
                                        bottom: 0 !important;
                                        color: aliceblue;
                                        font-size: 1.5vw;
                                        font-family: 'acid', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                        text-shadow: 0px 0px 6px rgb(0, 0, 0);
                                        background-color: rgb(76, 0, 255);
                                        border-radius: 0.5vw;
                                        outline: none !important;
                                        border-width: 0.1vw;
                                        border-color: rgba(255, 251, 197, 0.034);
                                        border-style: dashed;
                                        padding: 0.4vw;
                                    }   
                                    
                                    .experienceViciteButton:hover{
                                        filter: contrast(180%) saturate(120%);
                                    }
                                





}











/* VISTA PH */
/* Cuando la pantalla es menor a "X" ejecuta el programa */
/* @media only screen and (max-width: 909px) {

} */

